USE [ProjectPRJ321]
GO
/****** Object:  Table [dbo].[Account_Role]    Script Date: 3/9/2021 8:49:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Role](
	[Account] [nvarchar](40) NOT NULL,
	[RoleID] [int] NULL,
 CONSTRAINT [PK_Account_Role] PRIMARY KEY CLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/9/2021 8:49:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](15) NULL,
	[Description] [varchar](150) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/9/2021 8:49:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](40) NOT NULL,
	[Password] [nvarchar](40) NULL,
	[Name] [nvarchar](40) NULL,
	[Gender] [nvarchar](40) NULL,
	[PhoneNumber] [nvarchar](40) NULL,
	[Email] [nvarchar](40) NULL,
	[DOB] [datetime] NULL,
	[Address] [nvarchar](40) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 3/9/2021 8:49:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[FeatureID] [int] NOT NULL,
	[url] [varchar](500) NULL,
 CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
(
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/9/2021 8:49:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[ProductID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[TotalMoney] [money] NULL,
	[Address] [nvarchar](40) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/9/2021 8:49:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](150) NOT NULL,
	[SupplierID] [int] NULL,
	[Quantity] [nvarchar](40) NULL,
	[Price] [money] NULL,
	[NumberOfImport] [int] NULL,
	[NumberOfSell] [int] NULL,
	[ImagePath] [varchar](150) NULL,
	[CategoryID] [int] NULL,
	[Description] [varchar](150) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/9/2021 8:49:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](150) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Feature]    Script Date: 3/9/2021 8:49:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Feature](
	[RoleID] [int] NULL,
	[FeatureID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 3/9/2021 8:49:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](30) NULL,
	[ContactName] [nvarchar](30) NULL,
	[Address] [nvarchar](30) NULL,
	[City] [nvarchar](30) NULL,
	[PostalCode] [nvarchar](30) NULL,
	[Phone] [nvarchar](30) NULL,
	[HomePage] [nvarchar](30) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account_Role] ([Account], [RoleID]) VALUES (N'haha', 2)
INSERT [dbo].[Account_Role] ([Account], [RoleID]) VALUES (N'huy', 2)
INSERT [dbo].[Account_Role] ([Account], [RoleID]) VALUES (N'linh', 2)
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Shirt', N'Shirt')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Trouser', N'Trouser')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Accesories', N'Jewelry')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [Account], [Password], [Name], [Gender], [PhoneNumber], [Email], [DOB], [Address]) VALUES (4, N'quan', N'123456', N'Quan', N'1', N'0869997926', N'quancua303@gmail.com', CAST(N'2000-03-30T00:00:00.000' AS DateTime), N'hanoi')
INSERT [dbo].[Customer] ([CustomerID], [Account], [Password], [Name], [Gender], [PhoneNumber], [Email], [DOB], [Address]) VALUES (5, N'long', N'123456', N'LongLV', N'0', N'324567467377', N'long123@gmail.com', CAST(N'2020-10-23T00:00:00.000' AS DateTime), N'hanoi')
INSERT [dbo].[Customer] ([CustomerID], [Account], [Password], [Name], [Gender], [PhoneNumber], [Email], [DOB], [Address]) VALUES (6, N'thnhl', N'123456', N'Thanh oc', N'1', N'0366412000', N'thanhoccon@gmail.com', CAST(N'2020-10-14T00:00:00.000' AS DateTime), N'da nang')
SET IDENTITY_INSERT [dbo].[Customer] OFF
INSERT [dbo].[Feature] ([FeatureID], [url]) VALUES (1, N'/add')
INSERT [dbo].[Feature] ([FeatureID], [url]) VALUES (2, N'/update')
INSERT [dbo].[Feature] ([FeatureID], [url]) VALUES (3, N'/delete')
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [CustomerID], [ProductID], [OrderDate], [TotalMoney], [Address], [PhoneNumber]) VALUES (1, 4, 7, CAST(N'2020-11-11T00:38:47.840' AS DateTime), 100.0000, N'hanoi', N'21321321312')
INSERT [dbo].[Order] ([OrderID], [CustomerID], [ProductID], [OrderDate], [TotalMoney], [Address], [PhoneNumber]) VALUES (2, 4, 7, CAST(N'2020-11-11T00:44:13.700' AS DateTime), 100.0000, N'hanoi', N'123123123')
INSERT [dbo].[Order] ([OrderID], [CustomerID], [ProductID], [OrderDate], [TotalMoney], [Address], [PhoneNumber]) VALUES (5, 5, 10, CAST(N'2020-11-11T01:02:07.707' AS DateTime), 200.0000, N'hcm', N'123123123')
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [SupplierID], [Quantity], [Price], [NumberOfImport], [NumberOfSell], [ImagePath], [CategoryID], [Description]) VALUES (2, N'Men Shirt Long Sleeve', 1, N'20', 60.0000, 100, 0, N'MenShirtLongSleeve.png', 1, N'Something blah blah blah')
INSERT [dbo].[Product] ([ProductID], [ProductName], [SupplierID], [Quantity], [Price], [NumberOfImport], [NumberOfSell], [ImagePath], [CategoryID], [Description]) VALUES (3, N'Beach Clothes', 1, N'10', 50.0000, 80, 0, N'coast.png', 1, N'Something blah blah blah')
INSERT [dbo].[Product] ([ProductID], [ProductName], [SupplierID], [Quantity], [Price], [NumberOfImport], [NumberOfSell], [ImagePath], [CategoryID], [Description]) VALUES (4, N'Women Dress', 1, N'30', 49.9900, 50, 0, N'womendress.png', 2, N'Something blah blah blah')
SET IDENTITY_INSERT [dbo].[Product] OFF
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'customer')
INSERT [dbo].[Role_Feature] ([RoleID], [FeatureID]) VALUES (1, 1)
INSERT [dbo].[Role_Feature] ([RoleID], [FeatureID]) VALUES (1, 2)
INSERT [dbo].[Role_Feature] ([RoleID], [FeatureID]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [CompanyName], [ContactName], [Address], [City], [PostalCode], [Phone], [HomePage]) VALUES (1, N'China Company', N'Anh Tau', N'Trung Quoc', N'Shang Hai', N'215000', N'123456789', NULL)
INSERT [dbo].[Supplier] ([SupplierID], [CompanyName], [ContactName], [Address], [City], [PostalCode], [Phone], [HomePage]) VALUES (2, N'Gucci', N'Anh Gucci', N'Italia', N'Italia', N'20121', N'987654321', NULL)
INSERT [dbo].[Supplier] ([SupplierID], [CompanyName], [ContactName], [Address], [City], [PostalCode], [Phone], [HomePage]) VALUES (3, N'Versace', N'Anh Versace', N'Italia', N'Italia', N'20162', N'513648523', NULL)
SET IDENTITY_INSERT [dbo].[Supplier] OFF
ALTER TABLE [dbo].[Account_Role]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Account_Role] CHECK CONSTRAINT [FK_Account_Role_Role]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer1] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer1]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Categories]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supplier]
GO
ALTER TABLE [dbo].[Role_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role_Feature_Feature] FOREIGN KEY([FeatureID])
REFERENCES [dbo].[Feature] ([FeatureID])
GO
ALTER TABLE [dbo].[Role_Feature] CHECK CONSTRAINT [FK_Role_Feature_Feature]
GO
ALTER TABLE [dbo].[Role_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role_Feature_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Role_Feature] CHECK CONSTRAINT [FK_Role_Feature_Role]
GO
